html
	head
		title #{user.username}'s profile
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/profile.css")
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/class") Class
						li
							a(href="/resources") Resources
		
			main
				.profile
					if picture
						h1 My personal profile
						.pic
							img#profilepic(src=picture)
					else
						h3 Upload your profile picture
						form#uploadPic(method="POST" action="/upload")
							input.file(type="file" name="picture" enctype="multipart/form-data" required)
							br
							input.upload(type="submit" name="submit" value="Upload Profile Pic!")
							br
							.pic
								img(src="../img/profile_pic/default.png")
					.userinfo
						h3 Username: #{user.username}
						h3 First name: #{user.firstname}
						h3 Last name: #{user.lastname}
						h3 Age: #{user.age}
						h3 Email: #{user.email}
						h3 Likes games: #{user.likesgames}

		
			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.