html
	head
		title #{user.username}'s profile
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/profile.css")
		style.
			.profile h1 {
				display: inline-block;
				margin-left: 20px;
				padding-bottom: 5px;
				border-bottom: 1px solid darkgrey
			}
			#profilepicture {
				display: inline-block;
				margin: 0 40px 70px;;
				border: 5px solid darkgrey;
				height: 50%;
				width: 20%;
			}
			.userinfo {
				margin-top: 50px;
				margin-right: 30px;
				display: inline-block;
				padding-left: 20px;
				border-left: 1px solid darkgrey;
			}
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/class") Class
						li
							a(href="/resources") Resources
		
			main
				.profile
					h1 #{user.firstname}'s Profile
					br
					br
					if picture
						img(id="profilepicture" src=picture.imageName)
					else
						.upload
							form(method="post" action="/upload" encType="multipart/form-data")
								input(type='file' name="picture" accept="image/*" required)
								br
								input.uploading(type='submit' value="Load up your image")
					.userinfo
						h3 Username: #{user.username}
						h3 First name: #{user.firstname}
						h3 Last name: #{user.lastname}
						h3 Age: #{user.age}
						h3 Email: #{user.email}
						h3 Likes games: #{user.likesgames}

		
			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.